* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background-image: url("../images/bg.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.navbar {
  padding: 15px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
}

.grow-list {
  flex: 1;
}

.list {
  list-style-type: none;
}

.list-item {
  display: inline;
  margin-left: 40px;
}

.list-item a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
}

.brand-img {
  height: 35px;
}

.hero {
  padding-top: 50px;
  text-align: center;
}

.hero-heading {
  font-size: 60px;
  color: #ffffff;
  width: 50%;
  margin: 0 auto;
}

.hero-description {
  font-size: 22px;
  color: #ffffff;
}

.button-large {
  padding: 15px 15px;
  border: none;
  border-radius: 10px;
  background-color: #ba0cc5;
  color: #ffffff;
  font-size: 20px;
  margin-top: 40px;
}

.button-small {
  padding: 10px 35px;
  border: none;
  border-radius: 7px;
  background-color: #ba0cc5;
  color: #ffffff;
  font-size: 14px;
}

.line {
  border-left: 1px solid #777777;
  height: 45px;
  margin-left: 55px;
}
